/**
 * Default typography styles and variables.
*/

/* Default typography styles and variables */
$body-font: '';
$title-font: '';

$default-font-colour: black;

$default-font-weight: 300;
$bold-font-weight: 700;
